<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<%- include('include/head.ejs'); %>
<body>
<%- include('include/header.ejs'); %>

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Наши сервера</h2>
                    <p class="text-muted">Список серверов проекта.</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <% servers.forEach(function(serverHTML) { %>
                    <%- serverHTML %>
                <% }); %>
            </div>
        </div>
    </section>
    <%- include('include/footer.ejs'); %>
</body>

</html>