<nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-hexagon">
                    <path d="M14 4.577v6.846L8 15l-6-3.577V4.577L8 1zM8.5.134a1 1 0 0 0-1 0l-6 3.577a1 1 0 0 0-.5.866v6.846a1 1 0 0 0 .5.866l6 3.577a1 1 0 0 0 1 0l6-3.577a1 1 0 0 0 .5-.866V4.577a1 1 0 0 0-.5-.866L8.5.134z"></path>
                </svg>
            </span>
            <span>saintedlittle</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Главная</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="/projects">Сервера</a></li>
                <li class="nav-item"><a class="nav-link" href="/pricing">Подписки</a></li>
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="/team">Команда</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
                <li class="nav-item"></li>
            </ul><a class="btn btn-primary shadow" role="button" href="/signup">Войти</a>
        </div>
    </div>
</nav>