<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<%- include('../include/head.ejs'); %>
<body>
<%- include('../include/header.ejs'); %>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mx-auto">
                <div class="col">
                    <div data-reflow-type="shopping-cart"></div>
                </div>
            </div>
        </div>
    </section>
<%- include('../include/footer.ejs'); %>

</body>

</html>