<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<%- include('../include/head.ejs'); %>
<body>
<%- include('../include/header.ejs'); %>
    <section class="py-5">
        <div class="container py-5">
            <div data-reflow-type="product" data-reflow-addtocart-text="Добавить в козину" data-bss-dynamic-product="" data-bss-dynamic-product-param="product" data-reflow-shoppingcart-url="shopping-cart.html"></div>
        </div>
    </section>

<%- include('../include/footer.ejs'); %>

</body>

</html>